div {
    box-sizing: border-box;
}

.test {
    width: 100px;
    height: 100px;
    border: solid black;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
* {
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background-image: url("../res/backgroundBlue.png");
    background-size: 100px 100px;
    image-rendering: pixelated;
}

.full{
    width:100%;
    height:100%;
}

.flex{
    display:flex;
}
.flex--center{
    justify-content:center;
    align-items:center;
}
.flex--center {
    justify-content: center;
    align-items: center;
}
.flex--row {
    flex-direction: row;
}
.flex--col {
    flex-direction: column;
}
.order-1{
    order:1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}
.grow-1{
    flex-grow:1;
}
.grow-2 {
    flex-grow: 2;
}
.modal{
    display:none;
    position:absolute;
}

    .modal > div {
        background: white;
        border:2px solid black;
        border-radius:5px;
    }

#titleNav{
    justify-content:space-evenly;
    width:100%;
}
#titleNav > div{
    align-self:flex-start !important;
    width:20%;
}
#title{
    position:absolute;
}
#titleHead > h2{
    display:inline;
}
h1{
    font-size:1.2rem;
}
h2{
    font-size:1.1rem;
}

.ui-box{
    background-color:white;
    border-radius: 5px;
    margin:1rem 2rem 1rem 2rem;
    flex-grow:1;
}

button {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    background-image: url(../res/backgroundBlue.png);
    background-size: contain;
    color: white;
    border: none;
    cursor: pointer;
}
input {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    outline:none !important;
    box-sizing:border-box;
    max-width:100%;
}
