#canvasDrawing{
    /*height:600px;
    width:800px;*/
    border-radius:5px;
}

#containerTools{
    height: 4rem;
    margin-left:0;
    margin-right:0;
}
.tool {
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: .25rem;
    margin-right: .25rem;
    filter: grayscale(100%);
    /*background-size: 80% 80%;*/
}
.tool:hover{
    filter:none;
}
.tool--selected {
    filter: none;
}
.tool--pen {
    background-image: url(https://skribbl.io/res/pen.gif);
}
.tool--fill {
    background-image: url(https://skribbl.io/res/filltool.gif);
}
.tool--erase {
    background-image: url(https://skribbl.io/res/rubber.gif);
}
.tool--mag {
    background-image: url(/mag.gif);
    filter: none;
}
#containerAgent {
    min-height: 15%;
    max-height: 15%;
}
#containerChat {
    overflow:hidden;
    justify-content:flex-end;
}

#containerSessionInfo {
    max-height: 15%;
    max-width:fit-content;
}

#containerMessages {
    overflow-y: scroll;
    width:100%;
}
#containerInput{
    width:100%;
}
#containerInput > input{
    width: calc(100% - 1rem);
}

.message{
    width:calc(100% - 1rem);
    margin: 0 0.5rem 0 0.5rem;
    text-align:left;
}
    .message::before {
        width: calc(100% - 4rem);
        margin: 0.5rem 2rem 0.5rem 2rem;
        border-top: 1px solid gainsboro;
        content:"";
        display:block;
    }
    .message > .content{
        max-width:fit-content;
        word-break:break-word;
    }
    .message > .content > span {
        font-weight: 600;
        padding-right: 1rem;
    }